{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  - update_url: {Boolean} whether or not to update url when changing variants. If false, the url isn't updated. Default: true (optional).
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}
{%- unless product.has_only_default_variant -%}
  <variant-selects
    id="variant-selects-{{ section.id }}"
    class="no-js-hidden"
    data-section="{{ section.id }}"
    data-url="{{ product.url }}"
    {% if update_url == false %}
      data-update-url="false"
    {% endif %}
    {{ block.shopify_attributes }}
  >
    {%- for option in product.options_with_values -%}
      {%- liquid
        assign swatch_count = option.values | map: 'swatch' | compact | size
        assign picker_type = block.settings.picker_type

        if swatch_count > 0 and block.settings.swatch_shape != 'none'
          if block.settings.picker_type == 'dropdown'
            assign picker_type = 'swatch_dropdown'
          else
            assign picker_type = 'swatch'
          endif
        endif
      -%}
      {%- if picker_type == 'swatch' -%}
        <fieldset class="js product-form__input product-form__input--swatch">
          <legend class="form__label option{{ forloop.index }}">
            {% if option.name == "Color" %}
              {% assign color_option = true %}
              {% else %}
              {% assign color_option = false %}
            {% endif %}
            {{ option.name }}:
            <span data-selected-swatch-value="{{ option.name }}">
              {{- option.selected_value -}}
            </span>
          </legend>
          {% render 'product-variant-options',
            product: product,
            option: option,
            block: block,
            picker_type: picker_type,
            color_option: color_option
          %}
        </fieldset>
      {%- elsif picker_type == 'button' -%}
        <fieldset class="js product-form__input product-form__input--pill">
          <legend class="form__label option{{ forloop.index }}">
            {% if option.name == "Color" %}
              {% assign color_option = true %}
              {% else %}
              {% assign color_option = false %}
            {% endif %}
            {{ option.name }}
          </legend>
          {% render 'product-variant-options',
            product: product,
            option: option,
            block: block,
            picker_type: picker_type,
            color_option: color_option
          %}
        </fieldset>
      {%- else -%}
        <div class="product-form__input product-form__input--dropdown">
          <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
            {% if option.name == "Color" %}
              {% assign color_option = true %}
              {% else %}
              {% assign color_option = false %}
            {% endif %}
            {{ option.name }}
          </label>
          <div class="select">
            {%- if picker_type == 'swatch_dropdown' -%}
              <span
                data-selected-dropdown-swatch="options[{{ option.name | escape }}]"
                class="dropdown-swatch"
              >
                {% render 'swatch', swatch: option.selected_value.swatch, shape: block.settings.swatch_shape %}
              </span>
            {%- endif -%}
            <select
              id="Option-{{ section.id }}-{{ forloop.index0 }}"
              class="select__select"
              name="options[{{ option.name | escape }}]"
              form="{{ product_form_id }}"
            >
              {% if option.name == "Color" %}
                {% assign color_option = true %}
                {% else %}
                {% assign color_option = false %}
              {% endif %}
              {% render 'product-variant-options',
                product: product,
                option: option,
                block: block,
                picker_type: picker_type,
                color_option: color_option
              %}
            </select>
            {% render 'icon-caret' %}
          </div>
        </div>
      {%- endif -%}
    {%- endfor -%}
    <script type="application/json">
      {{ product.variants | json }}
    </script>
{% form 'product', product, data-productid: product.id %}
...
  <label for="engravingText">Engraving<label>
  <input type="text" id="engravingText" name="properties[Engraving]">
  ...

{% endform %}



<style>
    table.variations select {
        max-width: 73%;
        background-color: #FAF7F0;
        border-radius: 5px;
        border-color: transparent;
        color: #878787;
    }
    table.variations select {
    /* max-width: 73%; */
    background-color: #FAF7F0;
    border-radius: 5px;
    border-color: transparent;
    color: #878787;
    padding: 0 30px 0 15px;
    height: 42px;
    width: 100%;
    font-size: 17px;
    }
    td.value.cell {
    column-gap: 15px;
    align-items: center;
    display: flex;
}
</style>




<script>
//     document.addEventListener('DOMContentLoaded', function() {
//         const clearLink = document.querySelector('.reset_variations');
//         const selectElement = document.querySelector('#pa_size');

//         clearLink.addEventListener('click', function(event) {
//             event.preventDefault();
//             selectElement.value = '';
//         });
//     });

// document.getElementById('pa_size').addEventListener('change', function() {
//   var selectedValue = this.value;
//   document.getElementById('hiddenInputField').value = selectedValue;
// });
</script>

<input type="hidden" id="hiddenInputField" name="properties[SelectedOption]" value="">
    
   
  </variant-selects>
{%- endunless -%}

<noscript class="product-form__noscript-wrapper-{{ section.id }}">
  <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
    <label class="form__label" for="Variants-{{ section.id }}">
      {{- 'products.product.product_variants' | t -}}
    </label>
    <div class="select">
      <select
        name="id" data-productid="{{ product.id }}"
        id="Variants-{{ section.id }}"
        class="select__select"
        form="{{ product_form_id }}"
      >
        {%- for variant in product.variants -%}
          <option
            {% if variant == product.selected_or_first_available_variant %}
              selected="selected"
            {% endif %}
            {% if variant.available == false %}
              disabled
            {% endif %}
            value="{{ variant.id }}"
          >
            {%- liquid
              echo variant.title
              echo variant.price | money | strip_html | prepend: ' - '
              if variant.available == false
                echo 'products.product.sold_out' | t | prepend: ' - '
              endif
              if variant.quantity_rule.increment > 1
                echo 'products.product.quantity.multiples_of' | t: quantity: variant.quantity_rule.increment | prepend: ' - '
              endif
              if variant.quantity_rule.min > 1
                echo 'products.product.quantity.minimum_of' | t: quantity: variant.quantity_rule.min | prepend: ' - '
              endif
              if variant.quantity_rule.max != null
                echo 'products.product.quantity.maximum_of' | t: quantity: variant.quantity_rule.max | prepend: ' - '
              endif
              # TODO: enable theme-check once `item_count_for_variant` is accepted as valid filter
              # theme-check-disable
              assign cart_quantity = cart | item_count_for_variant: variant.id
              # theme-check-enable
              if cart_quantity > 0
                echo 'products.product.quantity.in_cart_html' | t: quantity: cart_quantity | prepend: ' - '
              endif
            -%}
          </option>
        {%- endfor -%}
      </select>
      {% render 'icon-caret' %}
    </div>
  </div>
</noscript>
